.chatlist{
    padding: 0.5em 1em;
    margin: 1em 0;
    background: #f4f4f4;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}
.chatlist div {
    margin: 0;
    padding: 0;
}

.chatlist .title{
	border-bottom: 3px solid #000;
}

.chatlist .comment{
	position: relative;
	padding: 1rem 2rem;
	top: 24px;
	border: 3px solid #000;
	border-radius: 0 10px 10px 10px;
}
.chatlist .comment:before{
	font-size: 12px;
	font-size: 1.2rem;
	position: absolute;
	top: -24px;
	left: -3px;
	height: 24px;
	padding: 0 1em;
	content: 'Comment';
	color: #fff;
	border-radius: 10px 10px 0 0;
	background: #000;
}

.userid{
	color: gray;
	padding-left: 3px;
}

.chat-input-panel{
	box-shadow: 2px 2px 3px;
}
